@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<IzunaDrop.Data.Models.Item>;

<ul>

    @if (Model.Count() == 0)
    {
        <div>
            No items yet
        </div>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div>
                @item.Name
            </div>
        }
    }
</ul>
