@model IzunaDrop.Data.Models.Game
@section Styles {
    <style>
        .cover-image {
            width: 374px;
            height: 448px;
            object-fit: cover;
        }
    </style>
}

<div class="text-center">
    <img class="cover-image img-fluid" src="@Model.ImagePath" alt="@Model.Name" />

</div>