@model IEnumerable<IzunaDrop.Data.Models.Game>
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">

    <div class="d-flex justify-content-center align-items-center mb-3">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <a asp-controller="Game" asp-action="Add" class="btn btn-success me-3">Add Game</a>
    }
        <form asp-action="Index" method="get" class="d-flex" style="max-width: 400px;">
            <input type="text" name="searchTerm" class="form-control me-2" placeholder="Search games..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    </div>
    <div class="row">
        @foreach (var game in Model)
        {
            @if (game.IsDeleted==false)
            {
                <div class="col-md-3">
                    <div class="card-mb-4 shadow-sm">
                        <a asp-controller="Game" asp-action="Details" asp-route-id="@game.Id">
                            <div class="card-body">
                                <h5 class="card-title">@game.Name</h5>
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>
</div>
