@model IEnumerable<IzunaDrop.Data.Models.Game>
@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <div class="row">
        @foreach (var game in Model)
        {
            <div class="col-md-3">
                <div class="card-mb-4 shadow-sm">
                    <a asp-controller="Game" asp-action="Details" asp-route-id="@game.Id">
                        <img class="card-img-top" src="@game.ImagePath" alt="@game.Name"/>
                        <div class="card-body">
                            <h5 class="card-title">@game.Name</h5>
                        </div>
                    </a>
                </div>
            </div>
        }
    </div>
</div>
