@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<IzunaDrop.Data.Models.Character>;
@{
}
@foreach(var character in Model)
{
  <h1>@character.Name</h1>  
}